#title{
    /* text-align: center; */
    margin: auto;
    /* padding-left: 30%; */
    width: 90%;
    /* font-size: 4rem; */
}
body{
    text-align: center;
    background-color: rgb(33, 47, 75);
}
h1{
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
}
footer{
    color: #DBEDF3;
    font-family: 'Arvo', cursive;

    
}
.set{
    margin: 10% auto;
}
.drum {
    outline: none;
    border: 6px solid #38c9e2;
    font-size: 4rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 160px;
    height: 120px;
    text-align: center;
    margin: 10px;
    background-color: white;
    letter-spacing: 3px;
      box-shadow: 6px 5px 5px #21ebda;
      outline: transparent;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
  }
  .drum:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'DRUMMM';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  .drum:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  @media (min-width: 768px) {
    .drum,
    .drum:after {
      width: 170px;
      height: 130px;
      line-height: 88px;
    }
  }
.wb{
    /* <input type="image" src="images/crash.png" /> */
    background-image: url('images/tom1.png');
}
.ab{
    background-image: url('images/tom2.png');
    
}
.sb{
    background-image: url('images/tom3.png');

}
.db{
    background-image: url('images/tom4.png');
    
}
.jb{
    background-image: url('images/snare.png');

}
.kb{
    background-image: url('images/crash.png');


}
.lb{
    background-image: url('images/kick.png');
    
}